@using LevelsTables.Models.View_Models

@model InfoVM
<div>
    <h2>Резервуар №@Model.Tank.Id</h2>
    <div class="row">
        <div class="form-group col-lg-2">
            <label>Міліметри</label><br />
            <input type="text" class="form-control" style="max-width:100px" id="input1" placeholder="Level" value="" />
        </div>
        <div class="col-lg-1"></div>
        <div class="form-group col-lg-2">
            <label>Літри</label><br />
            <input type="text" class="form-control" style="max-width:100px" id="input2" placeholder="Volume" value="" />
        </div>
    </div>
    <table>
        <tr>
            <td style="vertical-align: top;">
                <table>
                    <tr>
                        <th>Поле</th>
                        <th>Значення</th>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Id"></label></td>
                        <td><span>@Model.Tank.Id</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Name"></label></td>
                        <td><span>@Model.Tank.Name</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Address"></label></td>
                        <td><span>@Model.Tank.Address</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Description"></label></td>
                        <td><span>@Model.Tank.Description</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Active"></label></td>
                        <td><span>@Model.Tank.Active</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.MaxVolume"></label></td>
                        <td><span>@Model.Tank.MaxVolume</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Product_zero"></label></td>
                        <td><span>@Model.Tank.Product_zero</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Water_zero"></label></td>
                        <td><span>@Model.Tank.Water_zero</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Alert_Level"></label></td>
                        <td><span>@Model.Tank.Alert_Level</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.FuelID"></label></td>
                        <td><span>@Model.Tank.FuelID</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.StationID"></label></td>
                        <td><span>@Model.Tank.StationID</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.TankNumber"></label></td>
                        <td><span>@Model.Tank.TankNumber</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.TankUID"></label></td>
                        <td><span>@Model.Tank.TankUID</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.ProbeSerial"></label></td>
                        <td><span>@Model.Tank.ProbeSerial</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Probetype"></label></td>
                        <td><span>@Model.Tank.Probetype</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.ExternalProbeId"></label></td>
                        <td><span>@Model.Tank.ExternalProbeId</span></td>
                    </tr>
                    <tr>
                        <td>
                            @foreach (long uploadTime in Model.AllUploadTimes)
                            {
                                <a asp-action="Info" asp-route-id="@Model.Tank.Id" asp-route-date="@uploadTime">@(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc).AddSeconds(uploadTime))</a>
                                <br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form enctype="multipart/form-data" method="post">
                                <input asp-for="@Model.Tank.Id" hidden></input>
                                <input type="file" name="file" accept=".csv" />
                                <button id="downloadBut" type="submit">Завантажити</button><br />
                            </form>
                        </td>
                    </tr>
                </table>
            </td>

            <td>
                @if (Model.Calibrations != null && Model.Calibrations.Count > 0)
                {
                    <h7>Час завантаження або зміни таблиці: @(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc).AddSeconds(Model.CurrentTableTime))</h7>

                    <br />
                    <button type="submit" id="deleteButton">Видалити</button>

                    <br />
                    <button type="submit" id="update-button">Оновити</button>

                    <br />
                    <button type="submit" id="upload-button">Отримати CSV</button>

                    <br />
                }
                <div id="example-table"></div>
            </td>
        </tr>
    </table>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/tabulator-tables@6.3.0/dist/js/tabulator.min.js"></script>

<script>
    document.getElementById("downloadBut").addEventListener("click", function () {
        showLoadingSpinner();
    });
    function showLoadingSpinner() {
        $('#spinner').show();
        $('body').css('cursor', 'wait');
    }
</script>

@if (Model.Calibrations != null && Model.Calibrations.Count > 0)
{
    <script>
        var table = new Tabulator("#example-table", {
            data: @Html.Raw(Json.Serialize(Model.Calibrations)),
            pagination: true,
            paginationSize: 50,
            columns: [
                { title: "Level", field: "level", editor: "input" },
                { title: "Volume", field: "volume", editor: "input" },
                { title: "Ratio", field: "ratio" }
            ]
        });

    </script>

    <script>
        $("#update-button").click(function () {
            showLoadingSpinner();

            var tableData = table.getData();
            var jsonData = JSON.stringify(tableData);
            var file = new Blob([jsonData], { type: 'application/json' });
            var formData = new FormData();
            formData.append('file', file, 'calibration.json');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Update", "Home")',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    hideLoadingSpinner();
                    _url = `/Home/Info/` + @Model.Tank.Id;
                    window.location.replace(_url);
                },
                error: function (xhr, status, error) {
                    hideLoadingSpinner();
                    Swal.fire({
                        title: "Помилка оновлення даних",
                        icon: "error",
                        confirmButtonColor: "#dc3545"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                success: function (data) {
                                    _url = `/Home/Info/` + @Model.Tank.Id;
                                    window.location.replace(_url);
                                }
                            });
                        }
                    });
                }
            });
        });

        function showLoadingSpinner() {
            $('#spinner').show();
            $('body').css('cursor', 'wait');
        }

        function hideLoadingSpinner() {
            $('#spinner').hide();
            $('body').css('cursor', 'default');
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#deleteButton').on('click', function () {

                Swal.fire({
                    title: "Ви впевнені що хочете видалити таблицю?",
                    text: "Ви не зможете цю дію скасувати!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Так, видалити",
                    cancelButtonText: "Назад"
                }).then((result) => {
                    if (result.isConfirmed) {
                        showLoadingSpinner();
                        $.ajax({
                            url: '@Url.Action("Delete", "Home")',
                            type: 'POST',
                            data: { id: @Model.Tank.Id, date: `@Model.CurrentTableTime` },
                            success: function (data) {
                                hideLoadingSpinner();
                                _url = `/Home/Info/` + data;
                                window.location.replace(_url);

                            },
                            error: function (xhr, status, error) {
                                hideLoadingSpinner();
                                Swal.fire({
                                    title: "Помилка видалення даних",
                                    icon: "error",
                                    confirmButtonColor: "#dc3545"
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $.ajax({
                                            success: function (data) {
                                                location.reload();
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                });
            });
        });

        function showLoadingSpinner() {
            $('#spinner').show();
            $('body').css('cursor', 'wait');
        }

        function hideLoadingSpinner() {
            $('#spinner').hide();
            $('body').css('cursor', 'default');
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#upload-button').click(function () {
                var id = @Model.Calibrations.FirstOrDefault().TankId;
                var unixDate = @Model.Calibrations.FirstOrDefault().timeOfUploadOrUpdate;

                var offsetMinutes = new Date().getTimezoneOffset();
                var offsetHours = offsetMinutes / 60;

                var date = new Date(Date.UTC(1970, 0, 1, 0, 0, 0));
                date.setSeconds(date.getSeconds() + unixDate);
                date.setHours(date.getHours() + offsetHours);

                var dateString = date.toLocaleDateString();
                var timeString = date.toLocaleTimeString();


                var url = `/getCsv/${id}/${unixDate}`;

                $.ajax({
                    url: url,
                    method: 'GET',
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (data) {
                        var filename = `calibrations_${id}_(${timeString})_${dateString}.csv`;

                        var link = document.createElement('a');
                        var url = window.URL.createObjectURL(data);
                        link.href = url;
                        link.download = filename;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                        window.URL.revokeObjectURL(url);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error during file download:", error);
                    }
                });
            });
        });
    </script>
}
<script>
    var calibrationData = @Html.Raw(Json.Serialize(Model.Calibrations));

    calibrationData.sort(function (a, b) {
        return a.level - b.level;
    });

    var input1 = document.getElementById('input1');
    var input2 = document.getElementById('input2');

    var maxLevel = calibrationData[calibrationData.length - 1].level;
    var maxVolume = calibrationData[calibrationData.length - 1].volume;

    input1.addEventListener('input', function () {
        var level = parseFloat(this.value);

        if (isNaN(level)) {
            input2.value = '';
            return;
        }

        if (level > maxLevel) {
            input2.value = '';
            return;
        }

        var index = calibrationData.findIndex(function (calibration) {
            return calibration.level >= level;
        });

        if (index === 0) {
            input2.value = calibrationData[0].volume.toFixed(2);
        }
        else if (index === -1) {
            input2.value = calibrationData[calibrationData.length - 1].volume.toFixed(2);
        }
        else {
            var level1 = calibrationData[index - 1].level;
            var volume1 = calibrationData[index - 1].volume;
            var level2 = calibrationData[index].level;
            var volume2 = calibrationData[index].volume;

            var volume = volume1 + (level - level1) * (volume2 - volume1) / (level2 - level1);

            input2.value = volume.toFixed(2);
        }
    });

    input2.addEventListener('input', function () {
        var volume = parseFloat(this.value);

        if (isNaN(volume)) {
            input1.value = '';
            return;
        }

        if (volume > maxVolume) {
            input1.value = '';
            return;
        }

        var index = calibrationData.findIndex(function (calibration) {
            return calibration.volume >= volume;
        });

        if (index === 0) {
            input1.value = calibrationData[0].level.toFixed(2);
        }
        else if (index === -1) {
            input1.value = calibrationData[calibrationData.length - 1].level.toFixed(2);
        }
        else {
            var volume1 = calibrationData[index - 1].volume;
            var level1 = calibrationData[index - 1].level;
            var volume2 = calibrationData[index].volume;
            var level2 = calibrationData[index].level;

            var level = level1 + (volume - volume1) * (level2 - level1) / (volume2 - volume1);

            input1.value = level.toFixed(2);
        }
    });
</script>

