@using LevelsTables.Models.Tables
@using System.Collections.Generic;

@model List<Station>

<div class="hidden-xs text-center" style="margin: 5px 0px 15px 0px;">
    <button class="btn" style="margin: 5px 10px; background-color: #7ad8fa;" id="1But" value="1">Київська</button>
    <button class="btn" style="margin: 5px 10px; background-color: #7ad8fa;" id="2But" value="2">Чернігівська</button>
    <button class="btn" style="margin: 5px 10px; background-color: #7ad8fa;" id="3But" value="3">Житомирська</button>
    <button class="btn" style="margin: 5px 10px; background-color: #7ad8fa;" id="4But" value="4">Вінницька</button>
    <button class="btn" style="margin: 5px 10px; background-color: #7ad8fa;" id="5But" value="5">Запорізька</button>
    <button class="btn" style="margin: 5px 10px; background-color: #7ad8fa;" id="6But" value="6">Черкаська</button>
    <button class="btn" style="margin: 5px 10px; background-color: #7ad8fa;" id="7But" value="7">Чернівецька</button>
    <button class="btn" style="margin: 5px 10px; background-color: #7ad8fa;" id="8But" value="8">Рівнинська</button>
    <button class="btn" style="margin: 5px 10px; background-color: #7ad8fa;" id="9But" value="9">Хмельницька</button>
</div>

<div class="dropdown visible-xs" style="margin: 5px 0px;">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" style="background-color: #7ad8fa; border-color: #7ad8fa;">
        Фільтри <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu" style="padding: 10px;">
        <li><button class="btn btn-block" style="margin: 5px 0px; background-color: #7ad8fa;" id="Sm1But" value="1">Київська</button></li>
        <li><button class="btn btn-block" style="margin: 5px 0px; background-color: #7ad8fa;" id="Sm2But" value="2">Чернігівська</button></li>
        <li><button class="btn btn-block" style="margin: 5px 0px; background-color: #7ad8fa;" id="Sm3But" value="3">Житомирська</button></li>
        <li><button class="btn btn-block" style="margin: 5px 0px; background-color: #7ad8fa;" id="Sm4But" value="4">Вінницька</button></li>
        <li><button class="btn btn-block" style="margin: 5px 0px; background-color: #7ad8fa;" id="Sm5But" value="5">Запорізька</button></li>
        <li><button class="btn btn-block" style="margin: 5px 0px; background-color: #7ad8fa;" id="Sm6But" value="6">Черкаська</button></li>
        <li><button class="btn btn-block" style="margin: 5px 0px; background-color: #7ad8fa;" id="Sm7But" value="7">Чернівецька</button></li>
        <li><button class="btn btn-block" style="margin: 5px 0px; background-color: #7ad8fa;" id="Sm8But" value="8">Рівнинська</button></li>
        <li><button class="btn btn-block" style="margin: 5px 0px; background-color: #7ad8fa;" id="Sm9But" value="9">Хмельницька</button></li>
    </ul>

    <button class="close-button" style="display:none" id="closeButton">
        <button class="close-icon" style="display:none" id="closeButtonCross">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </button>

</div>


<div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-xs-12 col-md-4">
            <input type="text" class="form-control" placeholder="Пошук" id="search" />
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="table-container">
    @for (int j = 0; j < 7; j++)

    {
        @foreach (Station station in Model)

        {
            <div class="table-wrapper">
                <table class="tg" style="">
                    <tbody style="vertical-align: middle; text-align:center;">
                        <tr>
                            <td class="" style="width: min-content" colspan="5">@station.Name</td>
                        </tr>
                        @if (station.TankForStations.Any(t => t.ContainWhat == "Diesel"))
                        {
                            <tr style="font-weight: bold; ">
                                <td class="hdr" style="font-weight: bold; width: min-content;">Дизель</td>
                                <td class="hdr" style="width: min-content">Каса</td>
                                <td class="hdr" style="width: min-content">По-факту</td>
                                <td class="hdr" style="width: min-content">Дата приходу</td>
                                <td class="hdr" style="width: min-content">Продажа</td>
                            </tr>

                            int i = 0;
                            int countOfTanks = station.TankForStations.Where(t => t.ContainWhat == "Diesel").Count();

                            Kassa kassa = station.Kassas.Where(t => t.ContainWhat == "Diesel").FirstOrDefault();
                            @foreach (TankForStation tankForStation in station.TankForStations.Where(t => t.ContainWhat == "Diesel"))
                            {
                                if (i == 0)
                                {
                                    <tr>
                                        <td class="">@tankForStation.Id</td>
                                        <td class="" rowspan="@countOfTanks">@kassa.Data</td>
                                        <td class="">@tankForStation.Data</td>
                                        <td class="" rowspan="@countOfTanks">@kassa.DateOfLastIn</td>
                                        <td class="" rowspan="@countOfTanks">122222</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td class="">@tankForStation.Id</td>
                                        <td class="">@tankForStation.Data</td>
                                    </tr>
                                }
                                i++;
                            }
                        }
                        @if (station.TankForStations.Any(t => t.ContainWhat == "Petrol"))

                        {
                            <tr style="font-weight: bold;">
                                <td class="hdr" style="font-weight: bold; width: min-content;">Бензин</td>
                                <td class="hdr" style="width: min-content">Каса</td>
                                <td class="hdr" style="width: min-content">По-факту</td>
                                <td class="hdr" style="width: min-content">Дата приходу</td>
                                <td class="hdr" style="width: min-content">Продажа</td>
                            </tr>
                            int i = 0;

                            int countOfTanks = station.TankForStations.Where(t => t.ContainWhat == "Petrol").Count();
                            Kassa kassa = station.Kassas.Where(t => t.ContainWhat == "Petrol").FirstOrDefault();
                            @foreach (TankForStation tankForStation in station.TankForStations.Where(t => t.ContainWhat == "Petrol"))
                            {
                                if (i == 0)
                                {
                                    <tr>
                                        <td class="">@tankForStation.Id</td>
                                        <td class="" rowspan="@countOfTanks">@kassa.Data</td>
                                        <td class="">@tankForStation.Data</td>
                                        <td class="" rowspan="@countOfTanks">@kassa.DateOfLastIn</td>
                                        <td class="" rowspan="@countOfTanks">122222</td>
                                    </tr>
                                }else
                                {
                                    <tr>
                                        <td class="">@tankForStation.Id</td>
                                        <td class="">@tankForStation.Data</td>
                                    </tr>
                                }
                                i++;
                            }
                        }
                        @if (station.TankForStations.Any(t => t.ContainWhat == "Gas"))
                        {
                            <tr style="font-weight: bold;">
                                <td class="hdr" style="font-weight: bold; width: min-content;">Газ</td>
                                <td class="hdr" style="width: min-content">Каса</td>
                                <td class="hdr" style="width: min-content">По-факту</td>
                                <td class="hdr" style="width: min-content">Дата приходу</td>
                                <td class="hdr" style="width: min-content">Продажа</td>
                            </tr>

                            int i = 0;
                            int countOfTanks = station.TankForStations.Where(t => t.ContainWhat == "Gas").Count();
                            Kassa kassa = station.Kassas.Where(t => t.ContainWhat == "Gas").FirstOrDefault();
                            @foreach (TankForStation tankForStation in station.TankForStations.Where(t => t.ContainWhat == "Gas"))
                            {
                                if (i == 0)
                                {
                                    <tr>
                                        <td class="">@tankForStation.Id</td>
                                        <td class="" rowspan="@countOfTanks">@kassa.Data</td>
                                        <td class="">@tankForStation.Data</td>
                                        <td class="" rowspan="@countOfTanks">@kassa.DateOfLastIn</td>
                                        <td class="" rowspan="@countOfTanks">122222</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td class="">@tankForStation.Id</td>
                                        <td class="">@tankForStation.Data</td>
                                    </tr>
                                }
                                i++;

                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>
<script src ="~/js/table.js" asp-append-version="true"></script>